body {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-container {
    z-index: 9999;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 250px;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}


.menu-button {
    z-index: 9999;
    background: none;
    border: none;
    top: 20px;
  right: 20px;
  position: fixed;
    padding: 0;
    cursor: pointer;
  }
  
.menu-icon {
    width: 60px;
    height: 60px;
}
.menu-button-container {
    display: flex;
    justify-content: center;
}

.menu-button {
    font-size: 28px;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.menu-button:hover {
    background-color: #d8e8d9;
    transform: scale(1.05);
}

.menu-button:active {
    transform: scale(0.98);
}

.menu {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-top: 20px;
    padding: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #c87c09;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.menu-item:hover {
    background-color: #e01b01;
    transform: scale(1.05);
}

.menu-item:active {
    transform: scale(0.98);
}

.description-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 300px;
    display: none;
    text-align: center;
    z-index: 999;
    animation: fadeIn 0.3s ease-out;
}

.description-popup h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.description-popup p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
