html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: 'Cabin', sans-serif;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in-element {
    animation: fadeIn 2s ease-in;
  }
  
  body {
    animation: changeBackgroundColor 1.5s ease-in-out;
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .ui-container {
      flex-direction: column;
    }
  }
  